<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--目标类定义-->
    <bean id="waiterTarget" class="me.leifgao.springDemo.p246.Waiter" />
    <bean id="sellerTarget" class="me.leifgao.springDemo.p246.Seller" />

    <!--增强定义-->
    <bean id="greetingAdvice" class="me.leifgao.springDemo.p232.GreetingBeforeAdvice" />

    <!--静态方法名匹配切点切面定义-->
    <bean id="greetingAdvisor" class="me.leifgao.springDemo.p246.GreetingStaticMethodAdvisor"
          p:advice-ref="greetingAdvice"/>

    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor"
          p:proxyTargetClass="true" />

    <!--代理定义-->
    <bean id="waiter" parent="parent" p:target-ref="waiterTarget" />
    <bean id="seller" parent="parent" p:target-ref="sellerTarget" />
</beans>
