<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="me.leifgao.springDemo.p275" >
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
    </context:component-scan>


    <!--定义自动代理创建器，自动将@aspect切面注入到目标bean中-->
    <aop:aspectj-autoproxy/>

    <!--目标类定义-->
    <bean id="waiterTarget" class="me.leifgao.springDemo.p275.NaiveWatier" />

    <!--基于@AspectJ切面定义-->
    <!--<bean class="me.leifgao.springDemo.p275.PreGreetingAspect"/>-->

</beans>