<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--目标类定义-->
    <bean id="waiterTarget" class="me.leifgao.springDemo.p246.Waiter" />
    <bean id="sellerTarget" class="me.leifgao.springDemo.p246.Seller" />

    <!--增强定义-->
    <bean id="greetingAdvice" class="me.leifgao.springDemo.p232.GreetingBeforeAdvice" />

    <!--动态切面定义-->
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut">
            <bean class="me.leifgao.springDemo.p251.GreetingDynamicPointcut" />
        </property>
        <property name="advice">
            <bean class="me.leifgao.springDemo.p232.GreetingBeforeAdvice"/>
        </property>
    </bean>

    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="dynamicAdvisor"
          p:proxyTargetClass="true" />

    <!--代理定义-->
    <bean id="waiter" parent="parent" p:target-ref="waiterTarget" />
    <bean id="seller" parent="parent" p:target-ref="sellerTarget" />
</beans>